<div class="container">
	<section class="content">
		<h1 class="text-center">Nouvelle fiche de projet</h1>


		<%= form_for @symptom, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
			<!-- Title -->
			<div class="form-group row">
			  <%= f.label :name, 'Nom du symptôme', class: 'col-sm-2 col-form-label' %>
			  <div class="col-sm-10">
				  <%= f.text_field :name, class:'form-control' %>
			  </div>
			</div>
			<!-- description -->
			<div class="form-group row">
			  <%= f.label :description, "Description", class: 'col-sm-2 col-form-label' %>
			  <div class="col-sm-10">
				  <%= f.text_area :description, class:'form-control', rows:"3" %>
			  </div>
			</div>
			<!-- classification -->
			

			  <%= f.fields_for :classifications_symptoms do |class_symptoms_form| %>
			     <%= class_symptoms_form.select(:id, options_from_collection_for_select(Classification.all, "id", "name")) %> 
			  <br />
			  <% end %>


			<div class="form-group row">
			  <%= f.submit "Enregistrer", class: "btn btn-primary btn-block" %>
			</div>  
		<% end %>
	</section>
</div>