<div class="container">
  <section class="content">
    <h1 class="text-center"><%= @symptom.name %></h1>

    <table class="table">
      <tbody>
    	  <% @symptom.attributes.each do |key,value| %>	
            <tr>
      	      <th scope="row"><%= key %></th>
      	      <td><%= value %></td>
      	    </tr>
    	  <% end %>   
      </tbody> 
    </table>

    <div class="form-group row">
      <%= link_to 'Editer Symptom', edit_symptom_path, class: 'nav-link' %>
    </div>
  </section>
  <!-- Treatments section -->
  <%= render :partial => "layouts/treats" %>
</div>