<div class="container">
	<section class="content">
		<h1 class="text-center">Nouvelle treatment</h1>


		<%= form_for @treatment, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
			<!-- Title -->
			<div class="form-group row">
			  <%= f.label :name, 'Nom du treatment', class: 'col-sm-2 col-form-label' %>
			  <div class="col-sm-10">
				  <%= f.text_field :name, class:'form-control' %>
			  </div>
			</div>
			<!-- description -->
			<div class="form-group row">
			  <%= f.label :description, "Description", class: 'col-sm-2 col-form-label' %>
			  <div class="col-sm-10">
				  <%= f.text_area :description, class:'form-control', rows:"3" %>
			  </div>
			</div>
			<!-- theme -->
			<div class="form-group row">
			  <%= f.label :type_t, 'Type', class: 'col-sm-2 col-form-label' %>
			  <div class="col-sm-10">
				<%= f.select (:type_t) do %>
				  <% @type_treats.each do |value| %>
				    <%= content_tag(:option, value, value: value) %>
				  <% end %>
				<% end %>
			  </div>
			</div>
			<!-- classification -->
			  <div class="form-group row">
			    <%= f.label :symptoms, class: 'col-sm-2 col-form-label' %><br />
			    <div class="col-sm-10">
				    <% for symp in Symptom.all %>
				      <%= check_box_tag "treatment[symptom_ids][]", symp.id, @treatment.symptoms.include?(symp) %>
				      <%=h symp.name %><br />
				    <% end %>
				</div>
			  </div>
			<div class="form-group row">
			  <%= f.submit "Enregistrer", class: "btn btn-primary btn-block" %>
			</div>  
		<% end %>
	</section>
</div>